.fs-base{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.12;
    letter-spacing: 0;
}

.border-test{
    position: absolute;
    border: 1px solid green;
    background: black;
    color: white;
    top: 0;
    right: -550px;
}